<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".unityweb" mimeType="application/binary" />
      <mimeMap fileExtension=".unity3d" mimeType="application/octet-stream"/>
    </staticContent>
    <urlCompression doDynamicCompression="false"/>
  </system.webServer>
</configuration>
